# image
timm
opencv-python
albumentations
pandas
tensorflow
tf-slim
faiss-gpu
matplotlib
pydegensac

# text
aiohttp
aiosignal
anyio
argcomplete
argon2-cffi
argon2-cffi-bindings
async-timeout
asynctest
attrs
Babel
backcall
bleach
certifi
cffi
charset-normalizer
click
datasets
debugpy
decorator
defusedxml
dill
entrypoints
filelock
frozenlist
fsspec
fuzzywuzzy
gensim
huggingface-hub
idna
importlib-metadata
importlib-resources
ipdb
ipykernel
ipython
ipython-genutils
ipywidgets
# jed
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kaggle
lightgbm
MarkupSafe
matplotlib-inline
mistune
multidict
multiprocess
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numpy
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
platformdirs
prometheus-client
prompt-toolkit
ptyprocess
pyarrow
pycparser
pyemd
Pygments
pyparsing
pyrsistent
python-dateutil
python-Levenshtein
python-slugify
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
sacremoses
scikit-learn
scipy
Send2Trash
six
# sklearn
smart-open
sniffio
terminado
testpath
text-unidecode
threadpoolctl
tokenizers
toml
tomli
torch
tornado
tqdm
traitlets
transformers
typed-ast
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
xxhash
yarl
zipp

# from ot import emd2 No module named 'ot'
pot